button {
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    border-style: none;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    cursor: pointer;
    &[data-type="filled"] {
        background-color: var(--btn-color);
        font-weight: bold;
        color: var(--btn-text-color);
        &:active {
            background-color: var(--btn-color-active);
        }
    }
    &[data-type="text"] {
        background-color: transparent;
        border: 2px dashed var(--btn-color);
    }
}