html[color-mode="green"] {
    --bg: var(--green-0);
    --text-color: var(--black);
    --btn-color: var(--purple-2);
    --btn-text-color: var(--white);
    --btn-color-active: var(--purple-3);
    --title-color: var(--black);
    --switch-ball: var(--black);
}